extends layout
block sublayout
  #main-container

    // Header
    header.container
      .row
        .span12
          // Navigation
          .pull-right
            ul.nav.nav-pills
              each tab, i in ['print_queue', 'manual_ctrl', 'settings']
                li(class='#{i == 0? 'active' : ''}')
                  a(href= '##{tab}', data-toggle="pill")= tab.titleize()
          // Title
          h1 Ctrl Panel 
            span.name Ultimaker 2

    // Body
    .content.container
      .row
        .span12
          block content

    // Footer
    footer.container
      .row
        .span12

          .pull-right
            .btn.btn-danger E STOP
            a.btn-new-print-job.btn(href="#")
              i.icon-plus
              | Print Job

          .temperature
            .name PLA Extruder:
            .value 172&deg;C
          .temperature
            .name ABS Extruder:
            .value 168&deg;C
          .temperature
            .name Build Platform:
            .value 98&deg;C

          