@import 'nib'
@import 'vendor/bootstrap.min.css'
@import 'vendor/font-awesome.min.css'
@import 'vendor/bootstrap-toggle-buttons.css'
@import 'vendor/slider.css'
@import 'jquery.loadmask.css'
@import 'ctrl_panel'
@import 'new_print_job_modal'


// Font Awesome Bootstrap Compatibility Hacks
[class^="icon-"], [class*=" icon-"]
  background-image none
  padding-right 0.1em
  line-height inherit

.btn [class^="icon-"], [class*=" icon-"]
  line-height 1em
  &:first-child
    margin-right: 6px


// Layout

html, body
  height 100% // Not sure why but 100% was borking FF
  margin 0px
  padding 0px

@css {
  @-moz-document url-prefix() { 
    body {
      margin-top: -20px;
    }
  }
}

#main-container
  display flex
  flex-flow column
  box-align center
  width 100%
  height 100%

header
  .nav
    margin-top 18px
    margin-bottom 0px

  h1 .name
    color #CCC

.content
  flex 1 1 auto

footer
  .span12
    border-top 1px solid #CCC
    padding-top 6px
    padding-bottom 6px
    line-height 31px // aligning the temperature text to the buttons

    .temperature
      display inline-block
      margin-right 18px

      .name, .value
        display inline-block
      .value
        padding-left 6px
        font-weight bold

    .btn
      margin-left 18px


.modal
  width 80%
  left 10%
  height 80%
  top 10%
  margin 0px

.canvas-container
  overflow hidden
  canvas
    position absolute
