#new-print-job-modal
  .flex-container
    display flex
    flex-flow column
    box-pack center
    
    width 100%
    height 100%

  &.hide
    left -10000000px

  .modal-body, .modal-footer
    display block

  .modal-body
    // external col flex
    position static
    flex 1 1 auto
    max-height none
    height auto
    // internal row flex
    display flex
    flex-flow row
    box-direction reverse
    box-sizing border-box
    width 100%

  .canvas-container
    flex 1 1 auto
    display flex
    
    canvas
      flex 1

  .controls input
    float right


  .options
    z-index 10
    width 40%
    border-left 1px solid #CCC
    padding-left 20px

